<channels>
</channels>
<channel>
<name>[B][COLOR gold]Filmes - 2020 [/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/ASWUS7w.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/azforum/My-Add-on/master/torrent/filmes.xml</externallink>
<fanart>https://www.10wallpaper.com/wallpaper/1280x720/1912/Star_Wars_The_Rise_of_Skywalker_2019_Films_HD_Poster_1280x720.jpg</fanart>
<info></info>
</channel>
