<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<channels>
</channels>
<channel>
<name>[B][COLOR gold]The History Channel Brasil[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/yi3lP1l.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/azforum/My-Add-on/master/youtube/history.xml</externallink>
<fanart>https://i.imgur.com/Z8i5QYu.jpg</fanart>
<info>Bem-vindo ao canal oficial do HISTORY no Youtube, o principal destino de séries, documentários e produções originais que conectam os espectadores à história de maneira informativa, envolvente e divertida, em todas as plataformas.
Aqui no Youtube você encontra vídeos exclusivos, transmissões especiais ao vivo e o melhor de suas séries favoritas. Visite-nos em seuhistory.com para mais informações.</info>
</channel>

>>>>>>>>>>>>>>>>>>>>>>>>>>

<channel>
<name>[B][COLOR gold]Discovery Channel Brasil[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/KcwKtrB.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/azforum/My-Add-on/master/youtube/Discovery.xml</externallink>
<fanart>https://i.imgur.com/NZRCgvw.jpg</fanart>
<info>O Discovery Brasil tem o melhor conteúdo para todos os curiosos e questionadores, informando e entretendo sobre temas como:
Aventura, Enigmas, Investigações, Motores etc...</info>
</channel>
